html {
	background-color: rgb(125, 107, 95);
}
.header {
	background-color: rgb(217, 241, 241);
}
.first-column {
	background-color: rgb(183, 238, 177);
}
.link {
	font-style: oblique;
	text-decoration: none;
}
